// variabile dei colori
$primary_color: #ffffff;
$secondary_color: #fee7d1;
$button_color: #2c4792;
$text_color: #66503d;

// altezza menu
$menu_height: 70px;

// larghezza
$width: 100%;

// elementi sezione
$section_padding: 50px 0;
$section_height: 500px;
